body {
  min-height: 100vh;
}

header {
  padding: 1em 1.5em;
  font-size: 18px;
  font-weight: 600;
}

section#header {
  opacity: .9;
  min-height: 100vh;
  .heading {
    font-weight: bolder;
    font-size: 45px;
    padding-top: 5vh;
    @include desktop {
      padding-top: 26vh;
      font-size: 72px;
    }
  }
}

section#bemutatkozas {
  min-height: 60vh;
  color: white;
  background: linear-gradient(45deg, rgba(152, 152, 152, 0.07) 0%, rgba(152, 152, 152, 0.07) 48%,rgba(136, 136, 136, 0.07) 48%, rgba(136, 136, 136, 0.07) 100%),linear-gradient(45deg, rgba(235, 235, 235, 0.06) 0%, rgba(235, 235, 235, 0.06) 79%,rgba(218, 218, 218, 0.06) 79%, rgba(218, 218, 218, 0.06) 100%),linear-gradient(135deg, rgba(12, 12, 12, 0.04) 0%, rgba(12, 12, 12, 0.04) 30%,rgba(79, 79, 79, 0.04) 30%, rgba(79, 79, 79, 0.04) 100%),linear-gradient(45deg, rgba(173, 173, 173, 0.03) 0%, rgba(173, 173, 173, 0.03) 66%,rgba(245, 245, 245, 0.03) 66%, rgba(245, 245, 245, 0.03) 100%),linear-gradient(135deg, rgba(84, 84, 84, 0.06) 0%, rgba(84, 84, 84, 0.06) 51%,rgba(165, 165, 165, 0.06) 51%, rgba(165, 165, 165, 0.06) 100%),linear-gradient(45deg, rgba(15, 15, 15, 0.02) 0%, rgba(15, 15, 15, 0.02) 14%,rgba(95, 95, 95, 0.02) 14%, rgba(95, 95, 95, 0.02) 100%),linear-gradient(0deg, rgba(34, 34, 34, 0.05) 0%, rgba(34, 34, 34, 0.05) 58%,rgba(98, 98, 98, 0.05) 58%, rgba(98, 98, 98, 0.05) 100%),linear-gradient(90deg, rgb(2, 110, 165),rgb(50, 216, 218));
}

section#skills {
  margin-top: -10vh;
  @include desktop {
    margin-top: -15vh;
  }
  padding-left: 0;
  padding-right: 0;
  background: color(hatter);
  border-radius: 8px;
  .skills_box{
    border: .5px solid grey;
    border-radius: 7px;
    .flex-fill {
      min-width: 200px;
    }
  }
  .categoryIcon {
    font-size: 2em;
    margin-bottom: 15px;
    color: color(fo_kek);
  }
}

.tav {
  padding-bottom: 15%;
}

section#portfolio {
  .col {
    min-width: 200px;
    margin: 1.5em .8em;
    padding: 4.5em 0;
    border-radius: 7px;
  }
  a {
    .meloCard {
    min-height: 145px;
    border: unset;
    border-radius: 15px;
    padding: 15px;
    transition: .4s;
    position: relative;
      .meloImgCont {
        max-height: 150px;
        max-width: 35%;
        .meloImg {
          max-width: 100px;
          max-height: 60px;
          width: auto;
          border-radius: 12px;
        }
      }
      .prew {
        transition: .4s ease;
        opacity: 1;
      }
      .full {
        transition: .4s ease;
        opacity: 0;
        height: 0px;
        .fullText {
          min-height: 60px;
          max-height: 90px;
        }
      }
    }
    &:hover{
      text-decoration: none;
      .full {
          opacity: 1;
          z-index: 9;
          margin: -12vh 0 12vh 0;
      }
      .prew {
          opacity:0;
      }
    }
  }
}

section#startups {
  margin-top: -6vh;
  @include desktop {
    margin-top: -12vh;
  }
  .col {
    min-width: 200px;
    margin: 1.5em .8em;
    padding: 4.5em 0;
    border-radius: 7px;
  }
  .meloCard {
  border-radius: 15px;
  padding: 15px;
  position: relative;
    .meloImgCont {
      max-height: 150px;
      max-width: 35%;
      .meloImg {
        max-width: 100px;
        max-height: 60px;
        width: auto;
      }
    }
  }
}

//Témakép
.temakep {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .5s ease;
  min-height: 180px;
  border-radius: 6px;

  .temakepleiras {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      background-color: color(szurke);
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      border-radius: 6px;
      p {
          color: color(sotet_szurke);
      }
  }
  .temakepprev {
      transition: .5s ease;
      color: white;
      border-radius: 6px;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      background-color: rgb(0,0,0);
      opacity: 0.3;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      h2 {
          font-weight: 500;
          line-height: 220px;
      }
  }

  &:hover{
      .temakepleiras {
          opacity: 1;
          z-index: 9;
      }
      .temakepprev {
          opacity:0;
      }
  }

  .temakepszoveg {
      color: white;
      font-size: 16px;
      padding: 16px 32px;
  }
}

section#myProjects {
  min-height: 40vh;
  color: white;
  background: linear-gradient(90deg, rgba(125, 125, 125, 0) 0%, rgba(125, 125, 125, 0) 7%,rgba(194, 194, 194, 0) 7%, rgba(194, 194, 194, 0) 29%,rgba(124, 124, 124, 0) 29%, rgba(124, 124, 124, 0) 57%,rgba(237, 237, 237, 0) 57%, rgba(237, 237, 237, 0) 59%,rgba(110, 110, 110, 0) 59%, rgba(110, 110, 110, 0) 100%),linear-gradient(90deg, rgba(6, 6, 6, 0.01) 0%, rgba(6, 6, 6, 0.01) 20%,rgba(210, 210, 210, 0.01) 20%, rgba(210, 210, 210, 0.01) 64%,rgba(10, 10, 10, 0.01) 64%, rgba(10, 10, 10, 0.01) 82%,rgba(72, 72, 72, 0.01) 82%, rgba(72, 72, 72, 0.01) 88%,rgba(127, 127, 127, 0.01) 88%, rgba(127, 127, 127, 0.01) 100%),linear-gradient(90deg, rgba(4, 4, 4, 0.06) 0%, rgba(4, 4, 4, 0.06) 56%,rgba(6, 6, 6, 0.06) 56%, rgba(6, 6, 6, 0.06) 65%,rgba(110, 110, 110, 0.06) 65%, rgba(110, 110, 110, 0.06) 83%,rgba(136, 136, 136, 0.06) 83%, rgba(136, 136, 136, 0.06) 100%),linear-gradient(349deg, rgba(137, 137, 137, 0.02) 0%, rgba(137, 137, 137, 0.02) 43%,rgba(112, 112, 112, 0.02) 43%, rgba(112, 112, 112, 0.02) 100%),linear-gradient(47deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 36%,rgba(32, 32, 32, 0.06) 36%, rgba(32, 32, 32, 0.06) 100%),linear-gradient(83deg, rgba(222, 222, 222, 0.07) 0%, rgba(222, 222, 222, 0.07) 98%,rgba(143, 143, 143, 0.07) 98%, rgba(143, 143, 143, 0.07) 100%),repeating-linear-gradient(0deg, rgba(244, 244, 244, 0.08) 0px, rgba(244, 244, 244, 0.08) 72px,rgba(155, 155, 155, 0.08) 72px, rgba(155, 155, 155, 0.08) 179px,rgba(102, 102, 102, 0.08) 179px, rgba(102, 102, 102, 0.08) 477px,rgba(133, 133, 133, 0.08) 477px, rgba(133, 133, 133, 0.08) 580px,rgba(83, 83, 83, 0.08) 580px, rgba(83, 83, 83, 0.08) 614px),repeating-linear-gradient(135deg, rgba(115, 115, 115, 0.03) 0px, rgba(115, 115, 115, 0.03) 266px,rgba(99, 99, 99, 0.03) 266px, rgba(99, 99, 99, 0.03) 273px,rgba(115, 115, 115, 0.03) 273px, rgba(115, 115, 115, 0.03) 351px,rgba(229, 229, 229, 0.03) 351px, rgba(229, 229, 229, 0.03) 439px),repeating-linear-gradient(45deg, rgba(72, 72, 72, 0.01) 0px, rgba(72, 72, 72, 0.01) 232px,rgba(65, 65, 65, 0.01) 232px, rgba(65, 65, 65, 0.01) 345px,rgba(140, 140, 140, 0.01) 345px, rgba(140, 140, 140, 0.01) 348px,rgba(26, 26, 26, 0.01) 348px, rgba(26, 26, 26, 0.01) 547px),repeating-linear-gradient(45deg, rgba(68, 68, 68, 0.05) 0px, rgba(68, 68, 68, 0.05) 115px,rgba(182, 182, 182, 0.05) 115px, rgba(182, 182, 182, 0.05) 246px,rgba(14, 14, 14, 0.05) 246px, rgba(14, 14, 14, 0.05) 272px,rgba(80, 80, 80, 0.05) 272px, rgba(80, 80, 80, 0.05) 298px,rgba(37, 37, 37, 0.05) 298px, rgba(37, 37, 37, 0.05) 434px),repeating-linear-gradient(135deg, rgba(46, 46, 46, 0.03) 0px, rgba(46, 46, 46, 0.03) 107px,rgba(169, 169, 169, 0.03) 107px, rgba(169, 169, 169, 0.03) 182px,rgba(71, 71, 71, 0.03) 182px, rgba(71, 71, 71, 0.03) 321px,rgba(182, 182, 182, 0.03) 321px, rgba(182, 182, 182, 0.03) 359px),linear-gradient(90deg, #084da4 0%,#01aeb6 100%);
}

footer {
  background: color(fo_kek);
  opacity: .9;
}
